<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuewen.cooperate.pathstat">

    <application>
        <provider android:name="com.yuewen.cooperate.pathstat.pagestate.PathStateContentProvider"
            android:authorities="${applicationId}.pathstat.provider"
            android:exported="false" />
    </application>

</manifest>